*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tan: #cc9b68;
    --beige: #e8e1bd;
    --rosy-brown: #cbb8a3;
    --dark-slate-gray: #252628;
    --light-steel-blue: #e7ecf1;
}

h1,h2,h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

body {
    background-color: var(--light-steel-blue);
}

a {
    text-decoration: none;
    
}

a:is(:focus,:hover) {
    text-transform: uppercase;
}

a[href^='mailto'] {
    color: rgb(136, 173, 173);
}

a:visited {
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-color: var(--tan);
}



/* Responsive image */
.responsive-img {
    width: 100%;
    height: auto;
}
/* Style the top section */
.header-img {
    width: 100%;
    height: auto;
}




header {
    position: absolute;
    top: 0;
    max-height: 9vh;
    width: 100vw;
}
header nav.main-nav {
    position: relative;
}

header .close, header .open {
    font-size: 2rem;
    /* color: var(--rosy-brown); */
}

header .close {
    position: absolute;
    top: 5rem;

    z-index: 2;
    right: 1.2rem;
    display: none;
    cursor: pointer;
    color: var(--rosy-brown);
}

header .open {
    position: absolute;
    cursor: pointer;
    right: 1.2rem;
    top: 0;
    color: var(--dark-slate-gray);
}

.gym-title {
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: center;
}

.nav-list {
    overflow: hidden;
    height: 100vh;
    width: 0;
    position: fixed;
    /* padding-top: 10vh; */
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
    background-color: var(--dark-slate-gray);
    color: var(--light-steel-blue);
    text-align: center;
    font-size: 3rem;
    line-height: 6rem;
    list-style-type: none;
    font-weight: 800;
}


/* Style section area */
section {
    padding: 0.3rem 2rem;

}


.top-section {
    position: relative;
    padding: 0;
}
section h3 {

    padding: 2rem;
    text-align: center;
}

/* End section style */

/* Style Form */

form label, form input {

    width: 100%;
}

form input {
    transition: 0.6s border cubic-bezier(0.47, 0, 0.745, 0.715);
    height: 2.2rem;
    border-radius: 0.2rem;
}

form input:focus {
    border-bottom: 0.3rem solid var(--tan);
}

form label {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 1.2rem;
}

.newsletter form input {
    margin-top: 0.5rem;
}
/* End form style */

/* Button Styles  */
.btn {
    color: var(--dark-slate-gray);
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1.12rem 2rem;
    height: 4.2rem;
    display: block;
    font-weight: 700;
    font-size: 1.0rem;
    margin-top: 0.8rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 2rem;
    color: var(--light-steel-blue);
    letter-spacing: 0.5rem;
    border: 0.35rem;
    color: #000000;
}

.btn:focus,.btn:hover {
    border-style: inset;
    border-color: var(--dark-slate-gray);
    text-transform: uppercase;
    font-weight: 900;
}

 
.btn-submit {
    background-color: rgba(0, 175, 0, 0.4);
}

.btn-submit:is(:focus,:hover) {
    color: #ffffff;
    background-color: rgba(0,175,0,1);
}

.btn-more {
    background-color: rgba(14, 195, 255,0.2);
    color: var(--dark-slate-gray);
}

.btn-more:is(:focus,:hover) {
    color: var(--light-steel-blue);
    background-color: rgba(14, 195, 255,1);
}

.btn-clear {
    background-color: rgba(250,0,0,0.4);
} 

.btn-clear:is(:focus, :hover) {
    background-color: rgba(255,0,0,1);
}

.btn-more > p {
    text-align: center;
}
/* End Button Styles */

/* Footer */
footer {
    display: grid;
    place-items: center;
    margin-top: 0.8rem;
    text-align: center;
    min-height: 8vh;
    background-color: var(--dark-slate-gray);
    color: var(--beige);
}
/* end footer */

